//- base.pug
doctype html
html
    head
        title Ruby Dance Academy
        block scripts
        block style    
    body
        block content
        footer#footer
            | Copyright © 2020 RubyDanceAcademy.com

      
            