*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

h2{
    text-align: center;
    margin: 12px 0px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput{
    border-radius: 10px;
    width: 44%;
    padding: 6px;
    margin: 4px;
    border: 2px solid #d0c4c4;
    outline: none;
}
.container{
    min-height: 73vh;
}

.btn{
    padding: 7px 16px;
    font-size: 18px;
    border: 2px solid #d0c4c4;
    color: white;
    background: rgb(49, 48, 48);
    cursor: pointer;
}
